<!DOCTYPE html>
<html lang={{USE_TERMS_TEXTS.language}}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/terms/styles_terms">
        <link rel="stylesheet" href="/terms/styles_base">
        <link rel="icon" href="/terms/logo_icon" type="image/png">
        <title>
            {{USE_TERMS_TEXTS.title}}
        </title>
    </head>
    <body>
        <header>
            <div class="header_home">
                 <div class="icon_box_left">
                    <a href="/" class="logo_link">
                        <img src="/terms/logo_icon" id="logo_icon" alt="AnamCon_Logo_Icon">
                    </a>
                </div>
            </div>
            <div class="header_menu">
                <img src="/terms/logo_text" alt="AnamCon_Logo_Text">
            </div>
            <div class="header_user">
                <div class="language_menu">
                    <img src="/terms/language_icon/{{LANGUAGE}}" id="use_language_icon" alt="Use_Language_Icon"  >
                    <div class="language_menu_content">
                        {% for lang in USE_AVAILABLE_LANGUAGES %}
                            <a href="/terms/{{lang}}" id="set_language_{{lang}}" language="{{lang}}">
                                <div class="lang_pack">
                                    <img src="/terms/language_icon/{{ lang }}" class="language_icon" alt="Language_Icon">
                                    <div class="lang_pack_text">
                                        <p class="language_name">{{USE_AVAILABLE_LANGUAGES_VERBOSE[loop.index0][0]}}</p>
                                        <p class="language_country">{{USE_AVAILABLE_LANGUAGES_VERBOSE[loop.index0][1]}}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                
            </div>    
        </header>
        <main>
            <div id ="terms_content_zone_center" class="content_zone_center">
                <div class="content_box">
                    <div class="content_box_header">
                        <div class="content_box_header_icon_left">
                            <p class="header_icon_left">☰</p>
                        </div>
                        <div class="content_box_header_text">
                            <h1>
                                {{USE_TERMS_TEXTS.description_header}}
                            </h1>
                        </div>
                        <div class="content_box_header_icon_right">
                        </div>
                    </div>
                    <div class="content_box_main">
                        <div class="text_zone">
                            <p class="terms">{{USE_TERMS_TEXTS.term_0}}</p>
                            <p class="terms_bold">{{USE_TERMS_TEXTS.term_1}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_2}}</p>
                            <p class="terms_bold">{{USE_TERMS_TEXTS.term_3}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_4}}</p>
                            <p class="terms_bold">{{USE_TERMS_TEXTS.term_5}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_6}}</p>
                            <p class="terms_bold">{{USE_TERMS_TEXTS.term_7}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_8}}</p>
                            <p class="terms_bold">{{USE_TERMS_TEXTS.term_9}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_10}}</p>
                            <p class="terms">{{USE_TERMS_TEXTS.term_11}}</p>
                            <p></p>
                            <div class="separator">
                                <p class="separator_line">
                                    {{USE_TERMS_TEXTS.separator}}
                                </p>
                            </div>
                            <div id="download_anamcon_box">
                                <p class="terms" id="anamcon_download_title">{{USE_TERMS_TEXTS.term_12}}</p>
                                <a id="anamcon_download_link" href="https://github.com/dbrauq/anamcon" target="_blank">AnamCon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer_content">
                    {{USE_TERMS_TEXTS.copyright}}
                    &nbsp;|&nbsp;
                    {{USE_TERMS_TEXTS.version}}
                    &nbsp;|&nbsp;
                    {{USE_TERMS_TEXTS.disclaimer}}
                    &nbsp;|&nbsp;
                    <a id="footer_terms_link" href="/terms" target="_blank">{{USE_TERMS_TEXTS.terms}}</a>
            </div>
        </footer>
    </body>
</html>